name: Build CarGame Executables

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller

      - name: Build executable (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: |
          pyinstaller --onefile --windowed --add-data "bg.png:." --add-data "car1.png:." --add-data "car2.png:." --add-data "high.png:." --add-data "speed.png:." --add-data "high.txt:." --icon="high.png" main.py


      - name: Build executable (macOS)
        if: matrix.os == 'macos-latest'
        run: |
          pyinstaller --onefile --windowed --add-data "bg.png:." --add-data "car1.png:." --add-data "car2.png:." --add-data "high.png:." --add-data "speed.png:." --add-data "high.txt:." main.py

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}-build
          path: |
            dist/main
            dist/*.app
